.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1616;
  background-color: var(--clearblue-color);
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease-in-out;
  display: flex;
  font-size: 50px;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.page-transition img {
  max-width: 160px;
  margin: 0 auto;
}

.page-transition.is-active {
  pointer-events: all;
  opacity: 1;
}