/* NO SCROLL */ 
body {
    &.no-scroll {
        overflow: hidden;
    }
}

/* HEADER */
header {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:1024px) {
        width: 80%;
        margin: auto;
        margin-top: 60px;
    }
    .header__logo {
        .logo {
            img {
            height :71px;
            width: 92px;
            }
        }
    }
    .menu {
        font-family: 'Montserrat Regular';
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        .menu__list {
            display: flex;
            gap: 64px;
            @media (max-width:1024px) {
                display: none;
            }
        }
        .retour {
            padding-left: 32px;
            background: url('assets/img/SVG/arrow_left.svg') 5% 60% no-repeat;
            //height: 16px;
        }
        a {
            position: relative;
            padding-bottom: 2px;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: var(--lightblue-color);
                bottom: 0;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 300ms ease-in-out;
            }
            &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
              }
        }
    }    
}

/* **** */
.menu__burger {
    display: none;
    position: relative;
    z-index: 10;
    width: 40px;
    height: 40px;
    background: url(./assets/img/SVG/menu_burger.svg) center center no-repeat;
    background-size: contain;
    cursor: pointer;
    @media (max-width:1024px) {
        display: block;
    }
    &.active {
        width: 32px;
        height: 32px;
        background: url(./assets/img/SVG/menu_burger-close.svg) center center no-repeat;
    }
}

.menu__list-burger {
    display: none;
    @media (max-width:1024px) {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 48px;

        background: var(--clearblue-color) url(./assets/img/SVG/logo.svg) center bottom no-repeat;
        transition: 500ms ease;
        li a {
            color: var(--darkblue-color);
            font-size: 1.5rem ;
        }
        &.active {
                left: 0;
        }
    }
}

/* FOOTER */
footer {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 5px;

    @media (max-width:1024px) { 
        flex-direction: column;
        gap: 24px;
    }
    .footer__menu {
        display: flex;
        gap: 56px;
        @media (max-width:640px) { 
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
        li a {
            font-family: 'Montserrat Regular';
            font-weight: 500;
            transition: all 300ms ease-in-out;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    p {
        color: var(--lightblue-color);
    }
}